<form method="post" action="/students">
  <label for="first-name">First Name:</label>
  <input id="first-name" type="text" name="first_name">

  <label for="last-name">Last Name:</label>
  <input id="last-name" type="text" name="last_name">

  <label for="house-id">Select a house</label>
  <select id="house-id" name="house_id">
    <option value="5">Gryffindor</option>
    <option value="2">Ravenclaw</option>
    <option value="3">Slytherin</option>
    <option value="4">Hufflepuff</option>
  </select>

  <label for="age">age:</label>
  <input id="age" type="number" name="age">

  <input type="submit" value="register new student">
</form>